.action {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-right: 30px;
  color: #fff;
  font-weight: 500;
}

.action::before  /**pseudo elemento**/ {
  content: '';
  background-color: #7f4f24;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
