.button {
    display: inline-block;
    background-color: #7f4f24;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
    transition: transform 100ms linear;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
  }
  .button:hover{
    transform: scale(1.08);
  }